#listBar{
  height:50px;
  position: fixed; /* 스크롤에 따른 이벤트 작성 시 수정 */
  top: 107px;
  line-height: 50px;
  width:100%;
  opacity: 0.9;
  background-color: #fff;
}
#listBar ul{
  list-style:none;
  position:relative;
  left: 80%;
  transform: translate(-50%);
}
#listBar a{
  color: #000;
  font-weight: bold;
  text-decoration: none;
  font-size: 12px;
  letter-spacing: 0.5px;
}
#listBar li{
  float: left;
  margin:0px 30px;
}
/*list pop-up*/

#menuPopUp{
  position: fixed;
  top:157px;
  left:50%;
  transform:translate(-50%);
  height:360px;
  width:1230px;
  background-color: #fff;
  opacity: 0;
  transition: all 0.3s;
  border-top: 1px solid #eeeeee;
  pointer-events: none;
  box-shadow:1px 1px 2px #eeeeee, -1px 1px 2px #eeeeee;
}

#menuimg1{
  position: absolute;
  width:22px;
  height:22px;
  object-fit:contain;
  padding:14px;
  transition: all 0.5s ;
  left: 30%;
}
