#slideImage{
  width:100%;
  height:1000px;
  position: relative;
  z-index: -1;
}

#slideImage img{
  width:100%;
  height:100%;
}
#slideImage ul{
  list-style: none;
  padding-left: 0px;
}
#slideImage li{
  position: absolute;
  font-size: 0px;

}
